body {
    background-color: #E5E5E5;
}

main {
    padding: 1.5% 6% 1.5% 6%;
}

.mn-core { 
    width: 800px;
    height: 550px;
    background-color: white;
    margin: 0 auto;
}

.mn-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 50px 30px 50px 30px;
}

.mn-content h2 {
    color: #478AC9;
    font-size: 34px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c0c0c0;
    width: 80%;
    height: 70%;
}

.fm-div {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

input {
    width: 95%;
    font-size: 20px;
    padding: 15px;
    background-color: #E5E5E5;
    border: none;
    font-family: "Ubuntu-light";
}

label {
    font-family: "Ubuntu-light";
}

.fm-pas {
    display: flex;
}

.fm-pas input {
    width: 90%;
}

.fm-btn {
    width: 100%;
    padding: 15px 15px 0px 15px;
    cursor: pointer;
}

.fm-btn input {
    width: 100%;
    background: #478AC9;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.fm-btn input:hover {
    background-color: #476AC9;
}

.other-fm {
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    color: black;
}

.other-fm a {
    transition: 0.3s;
    cursor: pointer;
}

.other-fm a:hover {
    color: #478AC9;
}

.log-core {
    height: 460px;
}